.container {
  border: 1px solid black;

  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

.project_name {
  font-size: 2em;
  margin: auto;
  padding: 5px;
}

h4 {
  margin: 0;
  font-weight: normal;
}

.project_desc ul {
  direction: ltr;
}
