@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&display=swap');

body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 3.5em;
    margin: 0.1em;
}

h3{
    margin: 0.1em 0.2em 0.5em 0.2em;
}

#pfp {
    height: 60%;
    align-self: center;
    border-radius: 25px;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social_icon {
    height: 2em;
    width: 2em;
    margin: 0.3em;
}

#resume {
    font-size: 1.25em;
    align-self: center;
    margin-top: 0.25em;
}

body {
    color: burlywood;
}

a {
    color: burlywood;
    text-decoration: none;
}

a:hover {
    color: brown;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48vw;
    grid-gap: 0.5em;
    margin: 0.2em 3em 0em 3em;
    padding: 0.3em;
    justify-items: right;
}

.right {
    text-align: right;
    margin-right: 5em;
}

.left {
    margin-left: 5em;
}

.content {
    padding: 0.8em 0.5em;
    font-size: 120%;
}

@media only screen and (max-width: 1200px) {
    .left {
        margin-left: 3em;
    }

    .right {
        margin-right: 3em;
    }
}

@media only screen and (max-width: 800px) {
    .left {
        margin-left: 1em;
    }

    .right {
        margin-right: 1em;
    }
}

p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.2em;
}

li {
    line-height: 1.7em;
}

#form {
    background-color: white;
    padding: 0.2em 0.4em;
    border-radius: 25px;
    font-size: 80%;
    display: flex;
    float: right;
}

h2 {
    font-size: 160%;
    color: brown;
}