.container {
  border: 1px solid black;

  text-align: right;
  width: 100%;
  margin-bottom: 5px;
}

.involvement_title {
  font-size: 2em;
  margin: auto;
  padding: 5px;
}

.involvement_pos {
  font-size: 1.6em;
  margin: auto;
  padding: 0px 5px 5px 5px;
}

.involvement_time {
  font-size: 1.4em;
  margin: auto;
  padding: 0px 5px 5px 5px;
}

.involvement_desc {
  border: 1px solid orange;
}

h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  direction: rtl;
}
