.links {
  font-size: 2em;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;

  width: 100%;
  position: fixed;
  margin-right: auto;
  background-color: black;
}

.links:hover {
  color: #3d3c3a;
}
