.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 3px;
  padding: 5px;
}

.left_panel {
  margin: auto;
}

.right_panel {
  margin: auto;
  width: 45%;
  padding: 10px;
}

.welcome_text {
  font-size: 3.6em;
  margin: 0 0.1em 0.1em 0.3em;
}

.welcome_text_wrapper {
  padding: 0px;
  text-align: left;
  width: 100%;
}

.intro_picture {
  height: 350px;
  padding: 10px;
}

.intro_picture_wrapper {
  margin-top: 3px;
}

.introduction {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5em;
}

.introduction_wrapper {
  margin: auto;
}
